* {
	margin : 0px;
    padding : 0px;
}
h1{
	font-size: 22px;
}
.font-1{
	color: #09187d !important;
	font-size: 20px !important;
}
.font-2{
    color: #04091e !important;
	font-size: 20px !important;
}
.box-1{
	border-top: 4px solid #4e73df;
    background: #fff;
}
.box-2{
	border: 2px solid #d7d7d7;
}
.text-1{
    color: #000;
    padding: 7px;
    font-weight: 500;
}
.box-3{
    padding: 0 13px;
}
label{
	color:#000;
	
}
.form-control {
    padding: .5rem 0 .6rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    margin-top: .2rem;
    margin-bottom: 1rem;
}
input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0;
    outline: 0;
    height: 1.2rem;
    width: 90%;
    font-size: 1rem;
    padding-left: 8px;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}
select{
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0;
    outline: 0;
    height: 1.2rem;
    width: 100%;
    font-size: 1rem;
    padding-left: 8px;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    width:90% !important;
}